/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html {
  line-height: 1.5;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  margin: 0;
}

/* Update default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0 0 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: #36BF7F;
}

a:hover,
a:focus-visible {
  color: #D96666;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------- Containers ---------- */

.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--text {
  width: min(45em, 100%);
}

/*
====================================================
============ REQUIRED STYLES FROM PROF =============
============   DO NOT DELETE - START   =============
====================================================
*/

.container-query {
  padding: 3rem 0;
}

.container-query__list {
  --cols: 1;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 1.5rem;
}

@media only screen and (min-width: 45em) {
  .container-query__list {
    --cols: 2;
  }
}

@media only screen and (min-width: 52em) {
  .container-query__list {
    grid-template-columns: 2fr 1fr;
  }

  .container-query__list .col:nth-child(2) {
    grid-row: span 2;
  }
}

@media only screen and (min-width: 60em) {
  .container-query__list {
    --cols: 3;
    grid-template-columns: repeat(var(--cols), 1fr);
  }

  .container-query__list .col:nth-child(2) {
    grid-row: unset;
  }
}

@media only screen and (min-width: 70em) {
  .container-query__list .col:nth-child(2) {
    grid-column: span 2;
    grid-row: unset;
  }

  .container-query__list .col:nth-child(3) {
    grid-column: span 3;
  }
}

/*
====================================================
============ REQUIRED STYLES FROM PROF =============
============     DO NOT DELETE - END   =============
====================================================
*/

/*
====================================================
=============== PUT YOUR CSS BELOW =================
====================================================
*/





/*-----------Type-Scale------------*/
html{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  font-size: 1.802rem;
  color:#36BF7F ;
  
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.602rem;
    line-height: 1;}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.424rem;
    color: #36BF7F;
    text-transform: uppercase;
    margin-bottom: 0.5rem;}

h4 {
    font-family: "Roboto", sans-serif;
    font-size: 1.266rem;
    color: #d96666;
    margin-bottom: 0;}

h5 {font-size: 1.125rem;}

h6 {
    font-family: "Roboto", sans-serif;
    font-size: 0.889rem;
    text-transform: uppercase;
    line-height: 2.5;
    margin-bottom: 0;
    }

/* ---------- Buttons --------------*/

.btn{
  background-color: #394a59;
  font-family: "Roboto";
  font-size: inherit;
  cursor: pointer;
  color: white;
  padding: 0.55em 1.5em .5em;
  display: inline-block;
  text-align: center;
  border-radius: .25em;
  text-decoration: none;
  border-style: none;
}

.btn:hover,
.btn:focus{
  background-color: #59758d;
  color: white;
}

.btn--secondary{
  color: black;
  background-color: #36BF7F;
}

.btn--secondary:hover{
  color: #394a59;
  background-color: #75d3a7;
}

.btn--outline{
  color: #394a59;
  background-color: white;
  border: 0.2rem solid #394a59;
  padding: 0.55rem 2.1rem;
}

.btn--outline:hover{
  background-color: #394a59;
  color: white;
}

.btn--small{
  font-size: small;
}

.btn--large{
  font-size: 1.150rem;
}


/*-------- container query ------------*/

.col{
  container-type: inline-size;
}

.card__image img{
  aspect-ratio: 2 / 3 ;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card--full-image{
  position: relative;
}

.card__content{
  position: absolute;
  bottom: 0;
  padding: 1.5rem;
}

.card__image::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to bottom, #0007, #0007);
  border-radius: 0.5rem;
}

.card:hover,
.card:focus{
  color: unset;
}

.card:hover .btn,
.card:focus .btn{
  color: #394a59;
  background-color: #75d3a7;
}

.card__title{
  font-size: clamp(1.853rem, 5cqi, 3.052rem);
}

.card__text{
  color: white;
  font-size: clamp(1rem, 2.5cqi, 1.350rem);
}

.btn{
  font-size: clamp(1rem, 2.5cqi, 1.350rem);
}

@container (min-width: 25em){
  .card__image img{
    aspect-ratio: unset;
  }
}