:root {
  --color-primary: #394a59;
  --color-primary--light: #59758d;
  --color-secondary: #36bf7f;
  --color-secondary--light: #75d3a7;
  --color-secondary--pale: #def4e9;
  --color-accent: #d96666;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html {
  line-height: 1.5;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  margin: 0;
}

/* Update default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0 0 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: var(--color-primary--light);
}

a:hover,
a:focus-visible {
  color: var(--color-accent);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------- Accessibility ---------- */

*:focus-visible{
  outline: 0.125rem solid var(--color-secondary);
  outline-offset: 0.125rem;
}

.skip-links{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.skip-links__link{
  position: absolute;
  top: -10rem;
  left: 0.5rem;
  display: inline-block;
  padding: 0.55em 1.5em 0.5em;
  background-color: var(--color-secondary--light);
  color: var(--color-primary);
  border-radius: 0.25em;
  text-decoration: none;
  z-index: 100000;
}

.skip-links__link:focus{
  top: 1rem;
  color: var(--color-primary);
}

.to-top{
  position: fixed;
  bottom: -0.5rem;
  right: 1.5rem;
  background-color: var(--color-secondary--light);
  color: var(--color-primary);
  padding: 0.5rem 0.5rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  text-decoration: none;
  box-shadow: 0 0 0.5rem #0002;
  translate: 0 100%;
}

.to-top.visible{
  translate: 0;
}

.to-top:is(:hover, :focus-visible){
  translate: 0;
  color: var(--color-primary);
  bottom: 0;
}

/* ---------- Utility ---------- */

.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--text {
  width: min(45em, 100%);
}

/* ---------- Typography ---------- */

h1 {
  font-size: 2.019rem;
  line-height: 1.3;
}

h2 {
  font-size: 1.756rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.525rem;
  color: var(--color-secondary);
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1.3;
}

h4 {
  font-size: 1.325rem;
  color: var(--color-accent);
  margin: 0;
  line-height: 1.3;
}

h5 {
  font-size: 1.15rem;
  font-weight: normal;
  line-height: 1.3;
}

h6 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 45em) {
  h1 {
    font-size: 2.481rem;
  }

  h2 {
    font-size: 2.069rem;
  }

  h3 {
    font-size: 1.725rem;
  }

  h4 {
    font-size: 1.438rem;
  }

  h5 {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 60em) {
  h1 {
    font-size: 3.056rem;
  }

  h2 {
    font-size: 2.444rem;
  }

  h3 {
    font-size: 1.956rem;
  }

  h4 {
    font-size: 1.563rem;
  }

  h5 {
    font-size: 1.25rem;
  }
}

/* ---------- Navbar Styles ---------- */

.navbar {
  background-color: var(--color-primary);
  color: #fff;
  border-top: 0.25rem solid var(--color-secondary);
  position: sticky;
  top: 0;
  z-index: 10000;
}

.navbar .container {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.navbar__headline {
  font-size: 1.424rem;
  font-weight: bold;
  line-height: 1.3;
  margin: 0;
}

.navbar__logo {
  text-decoration: none;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  color: #fff;
}

.navbar__logo:hover,
.navbar__logo:focus-visible {
  color: #36bf7f;
}

.navbar__icon {
  width: 4rem;
}

.navbar__nav {
  position: fixed;
  top: 0;
  right: -66.6666%;
  width: 66.6666vw;
  height: 100vh;
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--color-primary);
  border-top: 0.25rem solid var(--color-accent);
}

.navbar__nav.open {
  right: 0;
}

.navbar__list {
  padding: 6rem 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.navbar__link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.75rem 1.5rem;
  text-align: right;
  display: block;
  font-size: 1.5rem;
}

.navbar__link:hover,
.navbar__link:focus-visible {
  color: #fff;
  background-color: #36bf7f;
}

@media only screen and (min-width: 45em) {
  .navbar .container {
    padding: 0 1.5rem;
  }

  .navbar__nav {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    box-shadow: none;
    z-index: auto;
    background-color: transparent;
    border: 0;
  }

  .navbar__list {
    flex-direction: row;
    padding: 0;
  }

  .navbar__link {
    padding: 1.5rem;
    font-size: 1rem;
  }
}

.toggle {
  width: 2.5rem;
  height: 1.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.toggle__line {
  width: 100%;
  height: 0.25rem;
  background-color: #fff;
  position: relative;
}
.toggle__line--top {
  top: 0;
}

.toggle__line--bottom {
  bottom: 0;
}

.open .toggle__line--top {
  top: 50%;
  translate: 0 -50%;
  rotate: 45deg;
}

.open .toggle__line--middle {
  opacity: 0;
}

.open .toggle__line--bottom {
  bottom: 50%;
  translate: 0 50%;
  rotate: -45deg;
}

.click-to-close {
  width: 100vw;
  height: 100vh;
  background-color: #0008;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

.click-to-close.open {
  opacity: 1;
  pointer-events: all;
}

@media only screen and (min-width: 45em) {
  .toggle,
  .click-to-close {
    display: none;
  }
}

/* ---------- Footer Styles ---------- */

.footer {
  background-color: var(--color-primary);
  color: #fff;
  border-bottom: 0.5rem solid var(--color-secondary);
}

.footer .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__logo {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.footer__logo:hover,
.footer__logo:focus-visible {
  color: var(--color-secondary);
}

.footer__icon {
  width: 4rem;
}

.footer__title {
  font-size: 1.525rem;
  font-weight: bold;
  line-height: 1.3;
}

.footer__list {
  padding-left: 1.5rem;
  margin: 0;
  border-left: 0.125rem solid var(--color-secondary);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer__link {
  color: #fff;
  text-decoration: none;
}

.footer__link:hover,
.footer__link:focus-visible {
  color: var(--color-secondary);
}

@media only screen and (min-width: 45em) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo {
    flex: 2 0;
    align-self: flex-start;
  }

  .footer__nav,
  .footer__copyright {
    flex: 1 0;
  }
}

/* ---------- Banner ---------- */

.banner {
  background-image: linear-gradient(to bottom, #0009, #0009),
    url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
}

.banner .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 75vh;
  padding: 3rem 1.5rem;
}

.banner__content {
  width: min(35em, 100%);
}

.banner__title {
  font-size: 1.756rem;
  line-height: 1.3;
  color: var(--color-secondary);
}

.banner__text {
  font-size: 1.15rem;
  color: #fff;
}

@media only screen and (min-width: 45em) {
  .banner__title {
    font-size: 2.069rem;
  }

  .banner__text {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 60em) {
  .banner__title {
    font-size: 2.444rem;
  }

  .banner__text {
    font-size: 1.25rem;
  }
}

/* ---------- Regular Text ---------- */

.regular-text .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.regular-text__title,
.regular-text__content {
  grid-column: span 12;
}

.regular-text__title {
  margin: 0;
}

@media only screen and (min-width: 60em) {
  .regular-text__title {
    grid-column: span 4;
  }

  .regular-text__content {
    grid-column: span 8;
  }
}

/* ---------- FAQ ---------- */

.faq .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.faq__title,
.faq__wrap {
  grid-column: span 12;
}

.faq__item {
  /* padding-bottom: 1.5rem; */
  margin-bottom: 1.5rem;
  border-bottom: 0.0625rem solid #ccc;
}

.faq__title {
  margin: 0;
}

.faq__summary {
  font-size: 1.325rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.faq__summary::marker {
  color: var(--color-secondary);
}

.faq__content {
  display: none;
}

@media only screen and (min-width: 45em) {
  .faq__summary {
    font-size: 1.438rem;
  }
}

@media only screen and (min-width: 60em) {
  .faq__title {
    grid-column: span 4;
  }

  .faq__wrap {
    grid-column: 6 / span 7;
  }

  .faq__summary {
    font-size: 1.563rem;
  }
}

/* ---------- Card Group ---------- */

.card-group {
  background-color: var(--color-secondary--pale);
}

.card-group .container {
  --cols: 1;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(var(--cols), 1fr);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.card-group__title {
  grid-column: 1 / -1;
}

.card {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.5rem #0002;
  background-color: #fff;
  color: #000;
  text-decoration: none;

  display: flex;
  flex-direction: column;
}

.card:hover,
.card:focus-visible {
  color: #000;
  box-shadow: 0 0.5rem 0.75rem #0002;
}

.card__image img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.card__content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: flex-start;
}

.card__title {
  font-size: 1.325rem;
  color: var(--color-primary);
  margin-bottom: 0.5rem;
  line-height: 1.3;
}

.card__text {
  flex-grow: 2;
}

@media only screen and (min-width: 45em) {
  .card-group .container {
    --cols: 2;
  }

  .card__title {
    font-size: 1.438rem;
  }
}

@media only screen and (min-width: 60em) {
  .card-group .container {
    --cols: 3;
  }

  .card__title {
    font-size: 1.563rem;
  }
}

/* ---------- Sign Form ---------- */

.sign-up {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 3rem 0;
  background-color: var(--color-secondary);
}

.sign-up__wrap {
  background-color: #fafafa;
  border-radius: 1.5rem;
  box-shadow: 0 0.25rem 1rem #0002;
  overflow: hidden;
  display: grid;
  --cols: 1;
  grid-template-columns: repeat(var(--cols), 1fr);
}

.sign-up__form {
  padding: 3rem 1.5rem;
  --cols: 1;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 1.5rem;
}

.sign-up__title {
  margin-bottom: 0.5rem;
}

.sign-up__image {
  aspect-ratio: 16 / 9;
  background-color: var(--color-secondary);
  background-image: url("../images/sign-up.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 1.5rem;
  box-shadow: 0 0.25rem 1rem #0002;
}

.form-unit.full {
  grid-column: 1 / -1;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  padding: 0.25rem 0.35rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  font-size: inherit;
  font-family: inherit;
  color: #000;
  background-color: #fff;
}

select {
  padding: 0.375rem 0.35rem;
}

input:not([type="checkbox"]):not([type="radio"]):not(
    [type="submit"]
  ):focus-visible,
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):valid,
textarea:valid,
select:valid {
  border-color: var(--color-secondary);
}

label,
.label {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.checkbox-radio {
  display: contents;
}

.checkbox-radio__item {
  text-transform: none;
  font-weight: normal;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  width: auto;
}

.checkbox-radio__item + .checkbox-radio__item {
  margin-left: 1.5rem;
}

.checkbox-radio__item input,
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.125rem solid var(--color-secondary);
  margin: 0;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background-size: 100% auto;
  background-position: center;
}

input[type="radio"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Ccircle cx='128' cy='128' r='70.4'/%3E%3C/svg%3E");
}

input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='none' stroke='%23000' stroke-miterlimit='10' stroke-width='50' d='M49.9 130.1l50.8 50.7L206.1 75.2'/%3E%3C/svg%3E");
}

.checkbox-radio__item span {
  font-size: 1rem;
}

@media only screen and (min-width: 45em) {
  .form-grid {
    --cols: 2;
  }

  .sign-up__wrap {
    --cols: 3;
  }

  .sign-up__form {
    grid-column: span 2;
    padding: 6rem 3rem;
    --cols: 2;
  }

  .sign-up__image {
    aspect-ratio: auto;
  }
}

@media only screen and (min-width: 60em) {
  .sign-up__wrap {
    --cols: 2;
  }

  .sign-up__form {
    grid-column: span 1;
    padding: 6rem 3rem;
  }
}

/* ---------- Buttons ---------- */

.btn,
input[type="submit"] {
  /* common styles */
  display: inline-block;
  padding: 0.55em 1.5em 0.5em;
  background-color: var(--color-primary);
  border: 0.125rem solid var(--color-primary);
  color: #fff;
  border-radius: 0.25em;

  /* link necessary styles */
  text-decoration: none;

  /* button necessary styles */
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--color-primary--light);
  border-color: var(--color-primary--light);
  color: #fff;
}

.btn--secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: #000;
}

.btn--secondary:hover,
.btn--secondary:focus-visible {
  background-color: var(--color-secondary--light);
  border-color: var(--color-secondary--light);
  color: #000;
}

.btn--outline {
  background-color: transparent;
  color: var(--color-primary);
}

.btn--outline:hover,
.btn--outline:focus-visible {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}

.btn--small {
  font-size: 0.75rem;
}

.btn--large {
  font-size: 1.25rem;
}
