/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0 0 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: #36BF7F;
}

a:hover,
a:focus {
  color: #D96666;
}


/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
svg {
  fill: currentColor;
}
svg:not(:root) {
  overflow: hidden;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Buttons*/
.btn{
  background-color: #394a59;
  font-family: sans-serif;
  font-size: 1.5rem;
  color: white;
  padding: 0.75rem 2.2rem;
  display: inline-block;
  text-align: center;
  border-radius: 0.35rem;
  text-decoration: none;
  border-style: none;
}

.btn:hover{
  background-color: #59758d;
  color: white;
}

.btn--secondary{
  color: black;
  background-color: #36BF7F;
}

.btn--secondary:hover{
  color: #394a59;
  background-color: #75d3a7;
}

.btn--outline{
  color: #394a59;
  background-color: white;
  border: 0.2rem solid #394a59;
  padding: 0.55rem 2.1rem;
}

.btn--outline:hover{
  background-color: #394a59;
  color: white;
}

.btn--small{
  font-size: small;
  padding: 0.75rem 1.5rem;
}

.btn--large{
  font-size: x-large;
  padding: 1.15rem 2.5rem;
}
/*container*/
.container {

  width: min(45em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--text {
  width: min(40em, 100%);
}
/*Responsive Type Hierarchy*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-bold";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-black";
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: 900;
}

html{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
h1 {
  font-family: "Roboto-black", sans-serif;
  margin-top: 0;
  font-size: 1.383rem;
  color:#36BF7F ;
  
}

h2 {
    font-family: "Roboto-black", sans-serif;
    font-size: 1.296rem;
    line-height: 1;}

h3 {
    font-family: "Roboto-black", sans-serif;
    font-size: 1.215rem;
    color: #36BF7F;
    text-transform: uppercase;
    margin-bottom: 0;}

h4 {
    font-family: "Roboto-black", sans-serif;
    font-size: 1.138rem;
    color: #d96666;
    margin-bottom: 0;}

h5 {
    font-size: 1.067rem;}

h6 {
    font-family: "Roboto-black", sans-serif;
    font-size: 0.937rem;
    text-transform: uppercase;
    line-height: 2.5;
    margin-bottom: 0;
    }

@media only screen and (min-width: 45em) {
  html{
    font-size: 110%;
  }
  h1 {
    margin-top: 0;
    font-size: 1.802rem;
  }
  
  h2 {font-size: 1.602rem;}
  
  h3 {font-size: 1.424rem;}
  
  h4 {font-size: 1.266rem;}
  
  h5 {font-size: 1.125rem;}
  
  h6 {font-size: 0.889rem;}
}

@media only screen and (min-width: 60em) {
  html{
    font-size: 120%;
  }
  h1 {
    margin-top: 0;
    font-size: 2.488rem;
  }
  
  h2 {font-size: 2.074rem;}
  
  h3 {font-size: 1.728rem;}
  
  h4 {font-size: 1.44rem;}
  
  h5 {font-size: 1.2rem;}
  
  small, .text_small {font-size: 0.833rem;}
  
}